{% extends "layout.html" %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">TASKARH</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ms-auto">
          <a class="nav-link active" aria-current="page" href="/singup">Registrarse</a>
        </div>
      </div>
    </div>
  </nav>
    <div class="container mx-auto my-5 py-5 text-center">
        <div class="row py-5">
            <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8 mx-auto my-auto">
                <div class="card">
                    <div class="card-body bg-dark text-light rounded">
                        <form action="{{ url_for('login') }}" method="POST">
                            <h4 class="card-title fw-bold">Inicio de sesión</h4>
                            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 mx-auto mb-4">
                                <label for="nombres" class="form-label fw-semibold">Nombre de Usuario</label>
                                <input type="text" name="username" class="form-control" id="nombres" placeholder="Ingrese Nombre de usuario" autofocus>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 mx-auto mb-4">
                                <label for="password" class="form-label fw-semibold">Contraseña</label>
                                <input type="password" name="password" class="form-control" id="password" placeholder="Ingrese la contraseña">
                            </div>     
                            <div class="d-grid gap-2 col-sm-6 col-md-6 col-lg-6 col-xl-6 mx-auto mb-3">                  
                                <input type="submit" class="btn btn-success"  value="Iniciar Sesión">
                            </div>
                            {% if message %}
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                              <strong>{{ message }}</strong>
                              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}